footer {
    background-color: #4e453e;
    color: white;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: #ccc;
}

.social-item {
    display: flex;
    align-items: left;
    gap: 8px;
    font-size: 1rem;
    justify-content: left;
    line-height: 1.5;
}

.social-item i {
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 1;
    margin-top: 1px;
    /* 微調垂直對齊 */
}

footer h2 {
    text-align: left;
}