.intro {
  margin: 0;
  padding: 0;
  background-color: #4e453e;
  min-height: 60vh;
  padding: 80px 0;
}


.intro h1,
.intro h3,
.intro p {
  color: white;
}

@keyframes floatUpDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.intro-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  /* animation: floatUpDown 3s ease-in-out infinite; */
}